// Stylesheet for sizing common
.maxH-100 {
    max-height: 100px !important;
}

.minH-100 {
    min-height: 100px !important;
}

.w-22p {
    width: 22% !important;
}
.w-100p {width: 100% !important;}

.rounded-10px {
    border-radius: 10px !important;
}